@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100dvh;
	background-color: rgb(250 250 250);
}
